<div class="container-fluid container-fluid-custom">
    <h1>Made By Taha</h1>
    <h4>Technologies Used:</h4>
    <ul>
        <li>HTML</li>
        <li>CSS</li>
        <li>Javascript</li>
        <li>NodeJs</li>
        <li>MongoDB</li>
    </ul>
    <hr>
    <p><b>Interactive Notes taking app</b> made with node js uses Google authentication for sign in and MongoDB for database </p>
</div>